#container{
    display: flex;
    justify-content: first baseline;
    
   
   
}
#first{
    height:100px;
    width:1280px;
    margin:120px;
    padding:120px;
    gap:10px
    
}
#second{
    padding:120px;
    height:100px;
    width:1280px;
    margin:120px;
    gap:10px
    
}
#third{
    height:100px;
    width:1280px;
    margin:120px;
    padding:120px;
    gap:10px
}
#four{
    height:100px;
    width:1280px;
    margin:120px;
    padding:120px
    
}
#five{
    height:100px;
    width:1280px;
    margin:120px;
    padding:120px;
    gap:10px
    
}
#six{
    height:100px;
    width:1280px;
    margin:120px;
    padding:120px;
    gap:10px
    
    
   
}
img{
    width:200px;
    height:300px;
}
h2,p,button{
    background-color: white;
    text-align: center;
    display: block;
    
}